$color1: #161616;
$color2: #888888;
$color3: #616161;

.about-section {
  position: relative;
  background: #161616;
  color: #ffffff; 
  padding: 20px;
  padding-top: 80px;
  display: block;
  padding-left: 30px;
  padding-right: 30px;
  z-index: 2;

  .aboutme-title {
    font-size: 2em;
    color: #ffffff; 
    margin-bottom: 1em;
  }

  h2 {
    color: #F7931E; 
    margin: 0.5em 0;
  }

  p {
    margin-bottom: 1em;
    line-height: 1.5;
  }
}

.about-img{
    img{
        width: 80%;
        height: auto;
        border-radius: 15px;
        box-shadow: 15px 15px;
    }
}

.first-steps{
    grid-column: 2 / 5;
    text-align: right;
    padding-top: 30px;

}

@media (min-width: 992px) {
    .about-section{
        display: grid; 
    grid-template-columns: repeat(12, 1fr); 
    gap: 20px;
    }

    .aboutme-title {
      
      font-size: 2.5em; 
    }

    .first-steps {
      grid-column: 7 / 13; 
      text-align: right; 
      padding: 20px;
    }
    .beginning{
        padding: 20px;
        grid-column: 1 / 7;
    }


    .about-img {
        img{
            width: 60%;
            height: auto;
        }
    
    }


  }


