

.container-gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  height: 100dvh;

  .small-images {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 20px;
      flex-wrap: wrap;

      img {
          width: 80px; // smaller size for mobile
          height: 80px; // smaller size for mobile
          margin: 5px;
          cursor: pointer;
          object-fit: cover;
          transition: transform 0.3s ease, opacity 0.3s ease;

          &:hover {
              transform: scale(1.1);
              opacity: 0.8;
              border: 2px solid #555;
          }
      }

      .selected {
          border: 3px solid #ff7b00;
          opacity: 1;
      }
  }

  .main-image {
      width: 100%; // take the full width of the container
      height: auto; // maintain the aspect ratio

      img {
          width: 100%; // take the full width of the container
          height: auto; // maintain the aspect ratio
          object-fit: cover;
      }
  }

  .image-info {
      width: 100%;
      margin-top: 20px;

      h1, p {
          margin: 0;
          padding: 0 10px; // add some padding on mobile
      }
  }
}

// Use media queries for larger screens
@media (min-width: 768px) {
  .container-gallery {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    height: 100dvh;
  }
}