 
$navbar-color: #131313;
$text-color: rgb(255, 255, 255);
$mobile-breakpoint: 768px; 
$secondary-color: #F7931E;



header {
  position: sticky;
  top: 0;
  background-color: $navbar-color;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 1rem 100px;
  z-index: 1000;
  font-size: 15px;
  
  .logo {
    img {
      display: block;
      height: 30px; 
      width: 100%;
    }

    .logo-text {
      display: none;
    }
  }

  .hamburger-menu {
    cursor: pointer;
    span {
      display: block;
      width: 30px;
      height: 3px;
      background-color: $text-color;
      margin: 4px 0;
    }
  }

  nav {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: $navbar-color;


    .nav-links {
      list-style: none;
      display: flex;
      flex-direction: column;
      overflow: hidden;
      transition: max-height 0.5s ease;
      
      

      .theme-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    
    .icon {
        font-size: 1.5rem; 
        opacity: 1; 
        transition: opacity 0.3s;
        margin-right: 10px;
        color: $text-color; 
    }
}

      li {
        text-align: center;
        padding: 1rem 0;

        a {
          color: $text-color;
          text-decoration: none;
          padding: 9px;
          padding-left: 15px;
          padding-right: 15px;

          &:hover {
      color: #F7931E;
      background-color: white;
      
      border-radius: 25px;
    }
        }
      }
    }

    &.active {
      display: block;
    }
    
  }

  @media(min-width: $mobile-breakpoint) {
  header {
    nav {
      display: block; 

      .nav-links {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        transition: max-height 0.5s ease;
        max-height: 0;

      }
    }
  }

    .logo .logo-text {
      display: block;
      color: $text-color;
    }
    .logo {
    img {
      display: block;
      height: 47px; 
      width: 100%;
    }
    }

    .hamburger-menu {
      display: none;
    }

    nav {
      display: flex;
      position: relative;
      width: auto; 

      .nav-links {
        flex-direction: row;
        gap: 55px;
        letter-spacing: 4px;
        justify-content: flex-end;
      }
      .icon{
        justify-content: center;
      }
    }
  }
}

.hamburger-menu.opened span {
    background-color: $text-color; 
    position: absolute;
    transform: translate(-50%, -50%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;

}

.hamburger-menu.opened span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger-menu.opened span:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.opened span:nth-child(3) {
    transform: translate(-50%, -50%) rotate(-45deg);
}