.my-projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  background-image: url(/images/body-bcg.jpg);

  .title-projects {
  font-size: 2em;
  color: #131313;
  margin-bottom: 1em;
  text-align: left;
  width: 100%; 
  padding-left: 20px; 
}

  .project {
    width: 100%;
    margin-bottom: 30px;
    
    .project-content {
      padding: 20px;
      border-radius: 10px;

      h2 {
        color: #131313;
        margin-bottom: 1em;
      }
    }

    .project-image {
      margin-top: 20px;
      img {
        width: 800px;
        height: auto;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
  }
}

@media (min-width: 768px) {
  .my-projects .project {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .project-content, .project-image {
      width: 48%; 
    }
  }
  .mobile-show{
    display: none;
  }
}

@media (max-width: 767px) {
  .my-projects .project {
    flex-direction: column;
  }
  .mobile-hidden{
    display: none;
  }
}
