$color1: #B6BBC4;
$color2: #F0ECE5;
$color3: #575757;
@keyframes gradientBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.contact-container {
    background: linear-gradient(-45deg, $color1, $color2, $color3, $color1);
    background-size: 400% 400%;
    animation: gradientBackground 15s ease infinite; 
    display: flex;
    justify-content: center;
    padding: 2rem;
    min-height: calc(100vh - 120px); 

    .contact-form-container {
        max-width: 600px;
        width: 100%;
        margin: auto;
        padding: 2rem;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        background: #eee;

        h1 {
            text-align: center;
            margin-bottom: 1.5rem;
        }

        .form-group {
            margin-bottom: 1rem;

            label {
                display: block;
                margin-bottom: 0.5rem;
            }

            input[type="text"],
            input[type="email"],
            textarea {
                width: 100%;
                padding: 0.75rem;
                border: 1px solid #ddd;
                border-radius: 4px;
                margin-bottom: 0.5rem;
            }

            textarea {
                min-height: 150px;
            }
        }

        .submit-btn {
            width: 100%;
            padding: 1rem;
            border: none;
            background: #333;
            color: white;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 4px;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: darken(#333, 10%);
            }
        }
    }
}

@media (min-width: 768px) {
    .contact-container {
        padding: 1rem;
        .contact-form-container {
            padding: 1rem;
        }
    }
    .contact-form-container{
        input{
            width: 600px;
        }
    }
}